<ion-view title="Cars">
  <ion-content>

      <!-- barcode scanner button for testing -->
      <div class="list list-inset">
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="query" placeholder="Year, Make, Model, or VIN" id="scannerInput" value="">
          </label>
          <button class="button button-block button-stable" ng-click="scanBarcode()">Scan VIN</button>
      </div>

      <!--value for input field that is not working ng-value="barcoderesults"-->



      <!--<button class="button button-outline button-positive" ng-click="scanBarcode()">Scan</button>
-->

      <div class="list">

          <a ng-repeat="car in cars | filter:query | orderBy:orderProp"
             href="#/tab/car/{{car.id}}" class="item item-icon-right item-thumbnail-right row">
              <i class="icon ion-ios7-arrow-right"></i>
              <img class="col col-25" ng-src="{{car.imageURL}}">
              <h2 class="col col-75">{{car.year}} {{car.make}} {{car.model}}<br><span class="valueText">${{car.value}}</span><br><span class="vinText">VIN: {{car.vin}}</span></h2>
          </a>

      </div>
  </ion-content>
</ion-view>
